USE [888]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Agent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[AgentTypeID] [int] NOT NULL,
	[Address] [nvarchar](300) NULL,
	[INN] [varchar](12) NOT NULL,
	[KPP] [varchar](9) NULL,
	[DirectorName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Logo] [nvarchar](100) NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_Agent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AgentPriorityHistory]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentPriorityHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AgentID] [int] NOT NULL,
	[ChangeDate] [datetime] NOT NULL,
	[PriorityValue] [int] NOT NULL,
 CONSTRAINT [PK_AgentPriorityHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgentType]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](100) NULL,
 CONSTRAINT [PK_AgentType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CountInPack] [int] NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[CountInStock] [float] NULL,
	[MinCount] [float] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[Image] [nvarchar](100) NULL,
	[MaterialTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialCountHistory]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialCountHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[ChangeDate] [datetime] NOT NULL,
	[CountValue] [float] NOT NULL,
 CONSTRAINT [PK_MaterialCountHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialSupplier]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialSupplier](
	[MaterialID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
 CONSTRAINT [PK_MaterialSupplier] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC,
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[DefectedPercent] [float] NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ProductTypeID] [int] NULL,
	[ArticleNumber] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](100) NULL,
	[ProductionPersonCount] [int] NULL,
	[ProductionWorkshopNumber] [int] NULL,
	[MinCostForAgent] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCostHistory]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCostHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ChangeDate] [datetime] NOT NULL,
	[CostValue] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ProductCostHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaterial]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterial](
	[ProductID] [int] NOT NULL,
	[MaterialID] [int] NOT NULL,
	[Count] [float] NULL,
 CONSTRAINT [PK_ProductMaterial] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSale]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSale](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AgentID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[SaleDate] [date] NOT NULL,
	[ProductCount] [int] NOT NULL,
 CONSTRAINT [PK_ProductSale] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[DefectedPercent] [float] NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[AgentID] [int] NOT NULL,
 CONSTRAINT [PK_Shop] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 25.11.2021 9:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[INN] [varchar](12) NOT NULL,
	[StartDate] [date] NOT NULL,
	[QualityRating] [int] NULL,
	[SupplierType] [nvarchar](20) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD  CONSTRAINT [FK_Agent_AgentType] FOREIGN KEY([AgentTypeID])
REFERENCES [dbo].[AgentType] ([ID])
GO
ALTER TABLE [dbo].[Agent] CHECK CONSTRAINT [FK_Agent_AgentType]
GO
ALTER TABLE [dbo].[AgentPriorityHistory]  WITH CHECK ADD  CONSTRAINT [FK_AgentPriorityHistory_Agent] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agent] ([ID])
GO
ALTER TABLE [dbo].[AgentPriorityHistory] CHECK CONSTRAINT [FK_AgentPriorityHistory_Agent]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeID])
REFERENCES [dbo].[MaterialType] ([ID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[MaterialCountHistory]  WITH CHECK ADD  CONSTRAINT [FK_MaterialCountHistory_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([ID])
GO
ALTER TABLE [dbo].[MaterialCountHistory] CHECK CONSTRAINT [FK_MaterialCountHistory_Material]
GO
ALTER TABLE [dbo].[MaterialSupplier]  WITH CHECK ADD  CONSTRAINT [FK_MaterialSupplier_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([ID])
GO
ALTER TABLE [dbo].[MaterialSupplier] CHECK CONSTRAINT [FK_MaterialSupplier_Material]
GO
ALTER TABLE [dbo].[MaterialSupplier]  WITH CHECK ADD  CONSTRAINT [FK_MaterialSupplier_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([ID])
GO
ALTER TABLE [dbo].[MaterialSupplier] CHECK CONSTRAINT [FK_MaterialSupplier_Supplier]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductType] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[ProductCostHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProductCostHistory_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductCostHistory] CHECK CONSTRAINT [FK_ProductCostHistory_Product]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([ID])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Material]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Product]
GO
ALTER TABLE [dbo].[ProductSale]  WITH CHECK ADD  CONSTRAINT [FK_ProductSale_Agent] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agent] ([ID])
GO
ALTER TABLE [dbo].[ProductSale] CHECK CONSTRAINT [FK_ProductSale_Agent]
GO
ALTER TABLE [dbo].[ProductSale]  WITH CHECK ADD  CONSTRAINT [FK_ProductSale_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductSale] CHECK CONSTRAINT [FK_ProductSale_Product]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_Agent] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agent] ([ID])
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_Agent]
GO
/****** Object:  Statistic [_WA_Sys_00000002_22AA2996]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_00000002_22AA2996] ON [dbo].[Agent]([Title]) WITH STATS_STREAM = 0x010000000100000000000000000000007AA05600000000005B020000000000001B02000000000000E703BF55E70000002C0100000000000015D00000BD02000007000000CF619E00EBAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000008420000803F0000000000000842000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000410000000000000097000000000000009F00000000000000A7000000000000000800000000000000300010000000803F000000000000803F0400000100390011044304450424043B043E044204240438043D0430043D04410421043D0430043104FF01000000000000000100000001000000280000002800000000000000000000001100000011044304450424043B043E044204240438043D0430043D04410421043D043004310402000000400000000001110000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_22AA2996]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_00000003_22AA2996] ON [dbo].[Agent]([AgentTypeID]) WITH STATS_STREAM = 0x01000000010000000000000000000000588055C500000000DB010000000000009B01000000000000380300003800000004000A000000000000000000FFFFFFFF07000000CE619E00EBAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_22AA2996]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_00000004_22AA2996] ON [dbo].[Agent]([Address]) WITH STATS_STREAM = 0x01000000010000000000000000000000BA2D8017000000002703000000000000E702000000000000E7020000E7000000580200000000000015D000000000000007000000CE619E00EBAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000008430000803F0000000000000843000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000A70000000000000063010000000000006B0100000000000073010000000000000800000000000000300010000000803F000000000000803F04000001009F003000330035003800320033002C00200021043C043E043B0435043D0441043A0430044F0420003E0431043B043004410442044C042C00200033043E0440043E04340420001E04340438043D0446043E0432043E042C0020003F0440043E04350437043404200011044304340430043F04350448044204410442043A0430044F042C00200036003100FF0100000000000000010000000100000028000000280000000000000000000000440000003000330035003800320033002C00200021043C043E043B0435043D0441043A0430044F0420003E0431043B043004410442044C042C00200033043E0440043E04340420001E04340438043D0446043E0432043E042C0020003F0440043E04350437043404200011044304340430043F04350448044204410442043A0430044F042C0020003600310002000000400000000001440000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_22AA2996]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_00000005_22AA2996] ON [dbo].[Agent]([INN]) WITH STATS_STREAM = 0x010000000100000000000000000000003404913D000000002B02000000000000EB01000000000000A7030000A70000000C0000000000000015D000007F00000007000000CB619E00EBAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000290000000000000067000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F0400000100210034353931303332343737FF01000000000000000100000001000000280000002800000000000000000000000A00000034353931303332343737020000004000000000010A0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_22AA2996]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_00000006_22AA2996] ON [dbo].[Agent]([KPP]) WITH STATS_STREAM = 0x0100000001000000000000000000000002410267000000002902000000000000E901000000000000A7020000A7000000090000000000000015D000007F00000007000000CC619E00EBAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000010410000803F0000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000280000000000000065000000000000006D0000000000000075000000000000000800000000000000300010000000803F000000000000803F04000001002000323930313535343233FF01000000000000000100000001000000280000002800000000000000000000000900000032393031353534323302000000400000000001090000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_22AA2996]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_00000007_22AA2996] ON [dbo].[Agent]([DirectorName]) WITH STATS_STREAM = 0x0100000001000000000000000000000072E854EC000000007B020000000000003B02000000000000E7020000E7000000C80000000000000015D000000000000007000000CD619E00EBAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000048420000803F00000000000048420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000005100000000000000B700000000000000BF00000000000000C7000000000000000800000000000000300010000000803F000000000000803F040000010049001804400430043A043B043804390420001C0430043A04410438043C043E0432043804470420002204380442043E0432043004FF0100000000000000010000000100000028000000280000000000000000000000190000001804400430043A043B043804390420001C0430043A04410438043C043E0432043804470420002204380442043E043204300402000000400000000001190000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_22AA2996]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_00000008_22AA2996] ON [dbo].[Agent]([Phone]) WITH STATS_STREAM = 0x010000000100000000000000000000000F2ECA190000000053020000000000001302000000000000E703152AE7000000280000000000000015D000000000000007000000CD619E00EBAD000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000F0410000803F000000000000F0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000003D000000000000008F0000000000000097000000000000009F000000000000000800000000000000300010000000803F000000000000803F0400000100350038002D003800300030002D003100320031002D00360036002D0038003100FF01000000000000000100000001000000280000002800000000000000000000000F00000038002D003800300030002D003100320031002D00360036002D0038003100020000004000000000010F0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_22AA2996]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_00000009_22AA2996] ON [dbo].[Agent]([Email]) WITH STATS_STREAM = 0x010000000100000000000000000000005CFAAD4F0000000067020000000000002702000000000000E7020000E7000000FE0100000000000015D000000100000007000000CC619E00EBAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020420000803F00000000000020420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000004700000000000000A300000000000000AB00000000000000B3000000000000000800000000000000300010000000803F000000000000803F04000001003F0065006C0076006900720061003000370040007300790073006F006500760061002E006F0072006700FF01000000000000000100000001000000280000002800000000000000000000001400000065006C0076006900720061003000370040007300790073006F006500760061002E006F007200670002000000400000000001140000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_22AA2996]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_0000000A_22AA2996] ON [dbo].[Agent]([Logo]) WITH STATS_STREAM = 0x01000000010000000000000000000000CDEB451C0000000067020000000000002702000000000000E7020000E7000000C80000000000000015D000000100000007000000CC619E00EBAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020420000803F00000000000020420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000004700000000000000A300000000000000AB00000000000000B3000000000000000800000000000000300010000000803F000000000000803F04000001003F005C006100670065006E00740073005C006100670065006E0074005F00390033002E0070006E006700FF0100000000000000010000000100000028000000280000000000000000000000140000005C006100670065006E00740073005C006100670065006E0074005F00390033002E0070006E00670002000000400000000001140000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000B_22AA2996]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_0000000B_22AA2996] ON [dbo].[Agent]([Priority]) WITH STATS_STREAM = 0x01000000010000000000000000000000955DE7F600000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000CC619E00EBAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F5201000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Agent]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[Agent]([PK_Agent]) WITH STATS_STREAM = 0x01000000010000000000000000000000394857780000000040000000000000000000000000000000380381A43800000004000A00000000000000000039003300, ROWCOUNT = 100, PAGECOUNT = 5
GO
/****** Object:  Statistic [PK_AgentPriorityHistory]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[AgentPriorityHistory]([PK_AgentPriorityHistory]) WITH STATS_STREAM = 0x01000000010000000000000000000000D05B4C750000000040000000000000000000000000000000380300003800000004000A00000000000000000040000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_267ABA7A]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_00000002_267ABA7A] ON [dbo].[AgentType]([Title]) WITH STATS_STREAM = 0x01000000010000000000000000000000F36892B7000000002302000000000000E301000000000000E7030061E7000000640000000000000015D0000000000000070000005B529E00EBAD000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000025000000000000005F0000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F04000001001D001C0424041E04FF0100000000000000010000000100000028000000280000000000000000000000030000001C0424041E0402000000400000000001030000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_267ABA7A]    Script Date: 25.11.2021 9:42:13 ******/
CREATE STATISTICS [_WA_Sys_00000003_267ABA7A] ON [dbo].[AgentType]([Image]) WITH STATS_STREAM = 0x010000000100000000000000000000009311328E000000000E02000000000000CE01000000000000E702152AE7000000C80000000000000015D0000000000000070000005B529E00EBAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000001B000000000000004A0000000000000052000000000000005A000000000000000800000000000000100010000000803F000000000000803F040000FF0100000000000000010000000100000028000000280000000000000000000000000000000100000001000000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_AgentType]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[AgentType]([PK_AgentType]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Material]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[Material]([PK_Material]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_MaterialCountHistory]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[MaterialCountHistory]([PK_MaterialCountHistory]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_MaterialSupplier]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[MaterialSupplier]([PK_MaterialSupplier]) WITH STATS_STREAM = 0x01000000020000000000000000000000C4EA81170000000058000000000000000000000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_MaterialType]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[MaterialType]([PK_MaterialType]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Product]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[Product]([PK_Product]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_ProductCostHistory]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[ProductCostHistory]([PK_ProductCostHistory]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_ProductMaterial]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[ProductMaterial]([PK_ProductMaterial]) WITH STATS_STREAM = 0x01000000020000000000000000000000C4EA81170000000058000000000000000000000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_ProductSale]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[ProductSale]([PK_ProductSale]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_ProductType]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[ProductType]([PK_ProductType]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Shop]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[Shop]([PK_Shop]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Supplier]    Script Date: 25.11.2021 9:42:13 ******/
UPDATE STATISTICS [dbo].[Supplier]([PK_Supplier]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
